@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");

* {
  margin: 0;
}

:root {
  --blue: #262e4c;
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --gray: #6b7280;
  --green: #1dd2af;
  --light: #eee;
  --purple: #8b5cf6;
  --white: #fff;
  --bluish: #3a4674;
  --salmon: #ff5252;
}

body {
  background-color: var(--darker);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  background-color: var(--darker);
  font-family: sans-serif;
  min-width: 319px;
}

.app {
  width: 90%;
}

.app h1 {
  color: white;
  font-size: 40px;
  padding: 25px 0;
  text-align: center;
  border-radius: 0.5rem 0.5rem 0 0;
  background-image: url(img/bgc.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: saturate(2.5);
  font-family: "Rajdhani", sans-serif;
}

.app form {
  display: flex;
  width: 100%;
  background-color: var(--blue);
}

.app form input {
  border: none;
  background-color: var(--dark);
  font-size: 18px;
  color: #fff;
  padding: 10px;
  width: 90%;
}

input:focus {
  outline: none;
}

input::placeholder {
  text-align: center;
}

.app form button {
  border: none;
  color: var(--white);
  background-color: var(--green);
  font-size: 25px;
  font-weight: 600;
  height: 42px;
  width: 10%;
}

.app ul {
  list-style: none;
  color: var(--light);
  padding: 0;
}

.app ul li {
  padding: 10px;
  background-color: var(--darkest);
  border-bottom: 1px solid var(--bluish);
}

.check {
  min-width: 1.2em;
  min-height: 1.2em;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--white);
  border: 1px solid var(--white);
  -webkit-appearance: none;
  margin-top: 10px;
}

.check:checked {
  background-color: var(--green);
}

.task {
  font-size: 18px;
  padding-left: 10px;
  width: fit-content;
  background: transparent;
  border: none;
  color: var(--white);
  width: 85%;
}

.task:focus {
  outline: none;
}

.trash {
  float: right;
  cursor: pointer;
  width: 60px;
  padding: 5px 15px;
  background-color: var(--salmon);
  border: none;
  color: var(--white);
  margin-top: 4px;
  transition: 0.3s;
}

.trash:hover {
  background-color: #ff5252ca;
}

.completed {
  color: var(--gray);
  text-decoration: line-through;
}

@media (max-width: 768px) {
  .task {
    width: 80%;
  }
  .trash {
    width: 12%;
  }
}

@media (max-width: 520px) {
  input.task {
    font-size: 15px;
    padding: 0px;
  }

  input.check {
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 5px;
  }

  .trash {
    width: 20%;
  }

  .task {
    width: 70%;
  }

  @media (max-width: 320px) {
    .trash {
      width: 20%;
    }

    .task {
      width: 65%;
    }
  }
}
