@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");

* {
  margin: 0;
}

:root {
  --blue: #262e4c;
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --gray: #6b7280;
  --green: #1dd2af;
  --light: #eee;
  --purple: #8b5cf6;
  --white: #fff;
  --bluish: #3a4674;
  --salmon: #ff5252;
  --blue: #1774eb;
}

body {
  background-color: var(--darker);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  background-color: var(--darker);
  font-family: sans-serif;
  min-width: 319px;
}

.app {
  width: 75%;
}

.app h1 {
  color: white;
  font-size: 40px;
  padding: 25px 0;
  text-align: center;
  border-radius: 0.5rem 0.5rem 0 0;
  background-image: url(img/bgc.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: saturate(2.5);
  font-family: "Rajdhani", sans-serif;
}

.app form {
  display: flex;
  width: 100%;
  background-color: var(--blue);
}

.app form input {
  border: none;
  background-color: var(--dark);
  font-size: 18px;
  color: #fff;
  padding: 10px;
  width: 90%;
}

input:focus {
  outline: none;
}

input::placeholder {
  text-align: center;
}

.app form button {
  border: none;
  color: var(--white);
  background-color: var(--blue);
  font-size: 25px;
  font-weight: 600;
  height: 42px;
  width: 20%;
}

.app ul {
  list-style: none;
  color: var(--light);
  padding: 0;
}

.app ul li {
  position: relative;
  padding: 10px;
  background-color: var(--darkest);
  border-bottom: 1px solid var(--bluish);
}

.check {
  width: 1em;
  height: 1em;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--white);
  border: 1px solid var(--white);
  -webkit-appearance: none;
  margin-top: 10px;
}

.check:checked {
  background-color: var(--green);
}

.task {
  font-size: 18px;
  padding-left: 10px;
  background: transparent;
  border: none;
  color: var(--white);
  width: 90%;
}

.task:focus {
  outline: none;
}

.trash {
  position: absolute;
  top: 13px;
  right: 5px;
  cursor: pointer;
  width: 60px;
  padding: 5px 15px;
  background-color: var(--salmon);
  border: none;
  color: var(--white);
  transition: 0.3s;
}

.edit {
  position: absolute;
  top: 13px;
  right: 70px;
  cursor: pointer;
  width: 60px;
  padding: 5px 15px;
  background-color: var(--green);
  border: none;
  color: var(--white);
  transition: 0.3s;
}

.trash:hover,
.edit:hover {
  opacity: 0.8;
}

.completed {
  color: var(--gray);
  text-decoration: line-through;
}

ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

@media (max-width: 540px) {
  .app {
    width: 95%;
  }
  .app form button {
    min-width: 25%;
  }
  input.task {
    font-size: 15px;
    padding: 0px;
  }

  input.check {
    height: 0.6rem;
    width: 0.6rem;
  }

  @media (max-width: 425px) {
    input.task {
      font-size: 13.5px;
      padding: 0px;
    }

    input.check {
      height: 0.7rem;
      width: 0.7rem;
      margin-right: 2px;
    }

    .trash {
      width: 35px;
      font-size: 10px;
      text-align: center;
      padding: 5px;
    }

    .app {
      width: 95%;
    }
  }
}
